{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "env": { 
        "node": true, 
        "browser": true, 
        "es6": true 
    },
    "plugins": [
      "@typescript-eslint",
      "obsidianmd"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:obsidianmd/recommended"
    ], 
    "parserOptions": {
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "rules": {
      "no-unused-vars": "off",
      "@typescript-eslint/no-unused-vars": ["error", { "args": "none" }],
      "@typescript-eslint/ban-ts-comment": "off",
      "no-prototype-builtins": "off",
      "@typescript-eslint/no-empty-function": "off",
      "obsidianmd/settings-tab": "off",
      "obsidianmd/platform": "off",
      "deprecation/deprecation": "off"
    },
    "overrides": [
      {
        "files": ["src/editor/**/*.ts"],
        "rules": {
          "import/no-extraneous-dependencies": "off"
        }
      }
    ] 
  }